<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
      <ion-nav-bar class="bar-balanced  material-background-nav-bar">
          <ion-nav-buttons side="left">
            <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
          </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>



  <md-sidenav md-component-id="left">
      <!--menu section-->
      <div class="material-background" id="toggle-menu-left-header">
          <!--menu header section-->
          <div class="menu-left-header">
              <img class="user-img" src="img/profileAvatar.jpg">

              <p>
                  <span class="title">Ionic Material</span>
                  <br/>
                  <span class="sub-title">Material Design Application</span>
              </p>
          </div><!--end menu header section-->
      </div> <!--menu content section-->
      <ion-content id="toggle-menu-left-content">

          <div class="menu-list">
              <md-subheader class="md-warn">Application Storage</md-subheader>
              <div class="row menu-item"  ng-click="navigateTo('app.contractlist')">
                  <div class="col-33">
                      <i class="fa fa-database"></i>
                  </div>
                  <div class="col-66">
                      <span>SQLite DB</span>
                  </div>
              </div>
              <div class="row menu-item" ng-click="navigateTo('app.notelist')">
                  <div class="col-33">
                      <i class="fa fa-cube"></i>
                  </div>
                  <div class="col-66">
                      <span>Local Storage DB</span>
                  </div>
              </div>
              <md-subheader class="md-warn">Social Network Connect</md-subheader>
              <div class="row menu-item"  ng-click="navigateTo('app.wordpressLogin')">
                  <div class="col-33">
                      <i class="fa fa-wordpress"></i>
                  </div>
                  <div class="col-66">
                      <span>WordPress</span>
                  </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.facebookLogin')">
                  <div class="col-33">
                      <i class="fa fa-facebook"></i>
                  </div>
                  <div class="col-66">
                      <span>Facebook</span>
                  </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.googlePlusLogin')">
                  <div class="col-33">
                      <i class="fa fa-google-plus"></i>
                  </div>
                  <div class="col-66">
                      <span>Google Plus</span>
                  </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.instagramLogin')">
                  <div class="col-33">
                      <i class="fa fa-instagram"></i>
                  </div>
                  <div class="col-66">
                      <span>Instagram</span>
                  </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.foursquareLogin')">
                  <div class="col-33">
                      <i class="fa fa-foursquare"></i>
                  </div>
                  <div class="col-66">
                      <span>Foursquare</span>
                  </div>
              </div>
              <div class="row menu-item"  ng-click="navigateTo('app.dropboxLogin')">
                  <div class="col-33">
                      <i class="fa fa-dropbox"></i>
                  </div>
                  <div class="col-66">
                      <span>Dropbox</span>
                  </div>
              </div>
          </div>



      </ion-content>


  </md-sidenav>












</ion-side-menus>
