<ion-view view-title="Status4You">

   <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right"
                   aria-label="Setting">

            <i class="ion-android-more-vertical" ng-click="goToSetting()"></i>
            <i class="fa fa-asterisk language"></i>
        </md-button>
    </ion-nav-buttons>

    <ion-content >
      <div class="row price-header">
          <div class="col header-name">
              LATEST STATUS
          </div>
          <div class="col header-more">
              POPULAR STATUS
          </div>
      </div>
      <div class="feed-list row">
          <div class="col">
              <div class="feed-item">
                <div class="kdh" id="categorylist">
                <div class="col-33">
                  <i class="ion-android-camera"></i>
                  18K
                </div>
                <div class="col-66 right">
                  <i class="ion-android-pin"></i>
                  5K
                </div>
                </div>
                </div>

              <div class="feed-item">
                  <div class="feed-img" style="background-image: url('img/cube_feed_03.png')"></div>
                  <div class="feed-content row">
                      <div class="col left">
                          <i class="ion-android-camera"></i>
                          18K
                      </div>
                      <div class="col right">
                          <i class="ion-android-pin"></i>
                          5K
                      </div>
                  </div>
              </div>

              <div class="feed-item">
                  <div class="feed-img" style="background-image: url('img/cube_feed_01.png')"></div>
                  <div class="feed-content row">
                      <div class="col left">
                          <i class="ion-android-camera"></i>
                          18K
                      </div>
                      <div class="col right">
                          <i class="ion-android-pin"></i>
                          5K
                      </div>
                  </div>
              </div>

          </div>



      </div>
   </ion-content>
</ion-view>
